<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Add new expense</title>
</head>
<body>
<footer>
    <nav>
        <ul>
            <li><a href="/category/">Category</a></li>
            <li><a href="/expense/">Expenses</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li th:if="!authenticated"><a href="/login">Login</a></li>
            <li th:if="authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</footer>

<div class="layout">
    <h2>Edit expense</h2>
    <form th:method="POST" th:action="@{/expense/update}" th:object="${expense}">
        <label for="description/">Enter amount:</label>
        <input type="text" th:field="*{amount}" id="description/">
        <div  style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</div>
        <input type="hidden" name="id" th:value="${expense.getId()}"/>
        <!-- Description Field -->
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:value="${expense.description}" required/>

        <!-- Category Dropdown -->
        <label for="dropDownList">Category:</label>
        <select th:if="${expense.getCategory() != null}" class="form-control" id="dropDownList" name="category">
            <option value="null">Select Category</option>
            <option th:each="cat : ${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}" th:selected="${cat.getId() == expense.getCategory().getId()}"></option>
        </select>
        <select  th:if="${expense.getCategory() == null}" class="form-control" id="dropDownList2" name="category">
            <option value="null">Select Category</option>
            <option th:each="cat : ${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
        </select>

        <button type="submit">Save Changes</button>
    </form>
</div>
<!--<div class="container">-->
<!--    <h1>Edit Expense</h1>-->
<!--    <form th:action="@{/editExpense}" method="post">-->
<!--        <input type="hidden" name="id" th:value="${expense.id}"/>-->

<!--        &lt;!&ndash; Description Field &ndash;&gt;-->
<!--        <label for="description">Description:</label>-->
<!--        <input type="text" id="description" name="description" th:value="${expense.description}" required/>-->

<!--        &lt;!&ndash; Category Dropdown &ndash;&gt;-->
<!--        <label for="dropDownList">Category:</label>-->
<!--        <select class="form-control" id="dropDownList2" name="categoryId">-->
<!--            <option value="0">Select Category</option>-->
<!--            <option th:each="cat : ${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}" th:selected="${cat.getId() == expense.getCategory().getId()}"></option>-->
<!--        </select>-->

<!--        <button type="submit">Save Changes</button>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>