<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Expenses</title>
</head>
<body>

<footer>
    <nav>
        <ul>
            <li><a href="@{/category/}">Category</a></li>
            <li><a href="@{/expense/}">Expenses</a></li>
            <li><a href="@{/profile}">Profile</a></li>
        </ul>
    </nav>
</footer>

<div>
    <h2> It's all your expenses</h2>
    <div th:if="${!expenseList.isEmpty()}" class="template-show">
        <ul class="ulClass">
            <li th:each="expense :${expenseList}">
                <p th:text="${expense.getAmount()}">Value</p>
                <p th:text="${expense.getDescription()}">Value</p>
                <p th:text="${expense.getExpenseDate()}">Value</p>
                <p th:text="${username}">Value</p>
            </li>
        </ul>
    </div>
    <div th:if="${expenseList.isEmpty()}" class="template-show">
        <ul class="ulClass">
            <span> No don't have ant expenses yet</span>
        </ul>
    </div>
</div>

</body>
</html>