<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Expenses</title>
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
<h2>All your expenses</h2>
    <div class="layout">

        <div th:each="expense : ${expenseList}" class="expense-card">
            <div class="expense-card-layout">
                <form th:action="@{/expense/edit}" method="get">
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                    <button class="button2" type="submit" >
                        <img class="icon-md" src="/images/ruler-cross-pen-svgrepo-com.svg" >
                    </button>
                </form>
                <form th:action="@{/expense/delete}" method="post" >
                    <input type="hidden" name="id" th:value="${expense.getId()}">
                    <button class="button1" type="submit" >
                        <img class="icon-md" src="/images/close-square-svgrepo-com.svg" >
                    </button>
                </form>
            </div>
            <div class="expense-description">
                <a th:action="@{/expense/edit}" th:text="${expense.getAmount()}">Value</a>
                <p th:text="${expense.getDescription()}">Value</p>
                <p th:text="${expense.getExpenseDate().toLocalDate()}">Value</p>
            </div>
        </div>
    </div>

    <div class="pagination" style="align-self: center;">
        <a th:href="@{/expense/(size=${size}, page=${page - 1})}" th:if="${page > 1}">&laquo; Previous</a>
        <span th:each="i : ${#numbers.sequence(1, totalPages+1)}">
            <a th:href="@{/expense/(size=${size}, page=${i})}" th:text="${i }" th:classappend="${i == page} ? 'active' : ''"></a>
        </span>
        <a th:href="@{/expense/(page=${page + 1})}" th:if="${page <= totalPages}">Next &raquo;</a>
    </div>
        <div th:if="${expenseList.isEmpty()}" class="template-show">
            <ul class="ulClass">
                <span> No don't have ant expenses yet</span>
            </ul>
        </div>
    </div>

<div class="fab-container">
    <div class="fab-button" id="fabButton">
        +
    </div>
    <div class="fab-options" id="fabOptions">
        <a href="/expense/new">Add Expense</a>
        <a href="/category/new">Add Category</a>
    </div>
</div>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>