<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Logs</title>
</head>
<body>

<footer>
    <nav>
        <ul>
            <li><a href="/users/">Users</a></li>
            <li><a href="/logs/">Logs</a></li>
            <li><a href="/chat/">Chats</a></li>
            <!--            <li><a href="/profile/">Profile</a></li>-->
            <li th:if="!authenticated"><a href="/login">Login</a></li>
            <li th:if="authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</footer>

<h2>All users</h2>
<div class="layout">
    <div class="expense-card" style="justify-content: center">
        <a th:href="@{/logs/all/}">All logs</a>
    </div>

    <div th:each="users : ${usersList}" class="expense-card" style="justify-content: flex-end">
        <div class="expense-description">
            <p th:text="${users.getId()}">Value</p>
            <a th:href="@{/logs/user/{userId}(userId=${users.getId()})}" class="category-description-name" th:text="${users.getUsername()}">Value</a>
            <p th:text="${users.getCreatedAt().toLocalDate()}">Value</p>
        </div>
    </div>
</div>

<div class="pagination" style="align-self: center;">
    <a th:href="@{/logs/(size=${size}, page=${page - 1})}" th:if="${page > 1}">&laquo; Previous</a>
    <span th:each="i : ${#numbers.sequence(1, totalPages+1)}">
            <a th:href="@{/logs/(size=${size}, page=${i})}" th:text="${i }" th:classappend="${i == page} ? 'active' : ''"></a>
        </span>
    <a th:href="@{/logs/(page=${page + 1})}" th:if="${page <= totalPages}">Next &raquo;</a>
</div>

</body>
</html>