<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker Manager</title>
    <link rel="stylesheet" href="/styles/css/style.css">
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/manager-footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
<main>
    <section class="intro">
        <h1>Welcome  to Expense Tracker Manager Panel</h1>
    </section>
</main>
</body>
</html>
