<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Add new expense</title>
</head>
<body>
<footer>
    <nav>
        <ul>
            <li><a href="/category/">Category</a></li>
            <li><a href="/expense/">Expenses</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li th:if="!authenticated"><a href="/login">Login</a></li>
            <li th:if="authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</footer>

<div class="layout">
    <h2>Add new category</h2>
    <form th:method="POST" th:action="@{/category/}" th:object="${category}">
        <label for="name/">Enter name:</label>
        <input type="text" th:field="*{name}" id="name/">
        <div  style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

        <label for="description/">Enter description:</label>
        <input type="text" th:field="*{description}" id="description/">

        <br/>
        <input type="submit" value="Add"/>
    </form>
</div>
</body>
</html>