<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Add new category</title>
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>

<div class="layout">
    <h2>Edit category</h2>
    <form th:method="POST" th:action="@{/category/update}" th:object="${category}">
        <label for="name/">Enter name:</label>
        <input type="text" th:field="*{name}" id="name/">
        <div  style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
        <label for="description/">Enter description:</label>
        <input type="text" th:field="*{description}" id="description/">
        <div  style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error</div>
        <input type="hidden" name="id" th:value="${category.getId()}"/>
        <button type="submit">Save Changes</button>
    </form>
    <h2>Delete category</h2>
    <form th:method="DELETE" th:action="@{/category/delete}">
        <input type="hidden" name="id" th:value="${category.getId()}">
        <input type="hidden" name="cascade" th:value="true">
        <button  class="simple_button" type="submit">Delete with expenses </button>
    </form>
    <form th:method="DELETE" th:action="@{/category/delete}">
        <input type="hidden" name="id" th:value="${category.getId()}">
        <input type="hidden" name="cascade" th:value="false">
        <button class="simple_button" type="submit">Delete without expenses </button>
    </form>

</div>

</body>
</html>