<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Add new expense</title>
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>

<div class="layout">
    <h2>Add new category</h2>
    <form th:method="POST" th:action="@{/category/}" th:object="${category}">
        <label for="name/">Enter name:</label>
        <input type="text" th:field="*{name}" id="name/">
        <div  style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

        <label for="description/">Enter description:</label>
        <input type="text" th:field="*{description}" id="description/">

        <br/>
        <input class="simple_button" type="submit" value="Add"/>
    </form>
</div>
</body>
</html>