<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>Categories</title>
</head>
<body>

<footer>
    <nav>
        <ul>
            <li><a href="/category/">Category</a></li>
            <li><a href="/expense/">Expenses</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li th:if="!authenticated"><a href="/logout">Login</a></li>
            <li th:if="authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</footer>

<h2>Categories</h2>
    <div class="layout">

        <div th:each="category : ${categoryList}" class="expense-card">
            <div class="expense-card-layout">
                <form th:action="@{/category/edit}" method="get">
                    <input type="hidden" name="id" th:value="${category.getId()}">
                    <button class="button2" type="submit" >
                        <img class="icon-md" src="/images/ruler-cross-pen-svgrepo-com.svg" >
                    </button>
                </form>
                <form th:action="@{/category/delete}" method="post" >
                    <input type="hidden" name="id" th:value="${category.getId()}">
                    <button class="button1" type="submit" >
                        <img class="icon-md" src="/images/close-square-svgrepo-com.svg" >
                    </button>
                </form>
            </div>
            <div class="category-description">
                <a th:href="@{/category/{id}(id=${category.getId()})}" class="category-description-name" th:text="${category.getName()}">Value</a>
                <p class="category-description-description" th:text="${category.getDescription()}">Value</p>

            </div>
        </div>
    </div>
    <div th:if="${categoryList.isEmpty()}" class="template-show">
        <ul class="ulClass">
            <span> You don't have any category yet</span>
        </ul>
    </div>

<div class="fab-container">
    <div class="fab-button" id="fabButton">
        +
    </div>
    <div class="fab-options" id="fabOptions">
        <a href="/expense/new">Add Expense</a>
        <a href="/category/new">Add Category</a>
    </div>
</div>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>