<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title th:text="${category.getName()}">Categories</title>
</head>
<body>

<footer>
    <nav>
        <ul>
            <li><a href="/category/">Category</a></li>
            <li><a href="/expense/">Expenses</a></li>
            <li><a href="/profile/">Profile</a></li>
            <li th:if="!authenticated"><a href="/login">Login</a></li>
            <li th:if="authenticated"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</footer>
<h2 th:text="${category.getName()}">Value</h2>
<div class="layout">
    <div th:if="${!expenseList.isEmpty()}" th:each="expense : ${expenseList}" class="expense-card">
        <div class="expense-card-layout">
            <form th:action="@{/expense/edit}" method="get">
                <input type="hidden" name="id" th:value="${expense.getId()}">
                <button class="button2" type="submit" >
                    <img class="icon-md" src="/images/ruler-cross-pen-svgrepo-com.svg" >
                </button>
            </form>
            <form th:action="@{/expense/delete}" method="post" >
                <input type="hidden" name="id" th:value="${expense.getId()}">
                <button class="button1" type="submit" >
                    <img class="icon-md" src="/images/close-square-svgrepo-com.svg" >
                </button>
            </form>
        </div>
        <div class="expense-description">
            <p th:text="${expense.getAmount()}">Value</p>
            <p th:text="${expense.getDescription()}">Value</p>
            <p th:text="${expense.getExpenseDate().toLocalTime()}">Value</p>
        </div>
    </div>
    <div th:if="${expenseList.isEmpty()}" class="template-show">
        <ul class="ulClass">
            <span> You don't have any expense in <p th:text="${category.getName()}">value</p> yet</span>
        </ul>
    </div>
</div>
<div class="fab-container">
    <div class="fab-button" id="fabButton">
        +
    </div>
    <div class="fab-options" id="fabOptions">
        <a href="/expense/new">Add Expense</a>
        <a href="/category/new">Add Category</a>
    </div>
</div>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>