<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/css/style.css">
    <title>All chats</title>
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
<h2>All chats</h2>
<div id="layout" class="layout">
    <div class="expense-card" style="width: unset; flex-direction: inherit">
        <button  class="btn" onclick="openNewChat()" style="width: unset">Open new chat</button>
        <div id="helpTicket" class="expense-description">
        </div>
        <input type="hidden" id="username" th:value="${username}"/>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.2/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script th:src="@{/js/chatPage.js}"></script>
</body>
</html>