<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/styles/css/style.css">
</head>
<body>
<div id="footer-container"></div>
<script>
    fetch('/js/footer.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('footer-container').innerHTML = data;
        });
</script>
<main>
    <section class="intro">
        <h1>Welcome to Expense Tracker</h1>
        <h2>Track Your Expenses Easily</h2>
        <p>Manage your expenses effectively with our simple and intuitive interface. Sign up now and take control of your finances.</p>
        <a href="/login" class="cta-button">Login /Register</a>
    </section>
</main>
</body>
</html>
