<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/styles/css/style.css">
</head>
<body>
<footer>
    <nav>
        <ul>
            <li><a href="/category/">Category</a></li>
            <li><a href="/expense/">Expenses</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">LogIn</a></li>
        </ul>
    </nav>
</footer>
<main>
    <section class="intro">
        <h1>Welcome to Expense Tracker</h1>
        <h2>Track Your Expenses Easily</h2>
        <p>Manage your expenses effectively with our simple and intuitive interface. Sign up now and take control of your finances.</p>
        <a href="/login" class="cta-button">Get Started</a>
    </section>
</main>
</body>
</html>
